<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      {{{baseStyle}}}
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    <span class="badge">{{assetType}}</span>
    <div class="meta">
      <div class="meta-item"><strong>Last Updated</strong>{{updated}}</div>
      <div class="meta-item"><strong>Size</strong>{{size}}</div>
    </div>
    <h2>Properties</h2>
    {{{propertiesTable}}}
  </body>
</html>
